# Core dependencies
numpy
scipy
pandas
matplotlib
scikit-learn
joblib
pillow
tqdm
seaborn

# PyTorch related
torch
torchvision
tensorboard

# Custom packages
FrEIA
thop

# ML tools
umap-learn
numba
mlflow

# Image processing
opencv-python

# Statistics
statsmodels
patsy